<!-- Toolbar -->
<div class="toolbar" role="banner">
  <!-- Aqui vamos colocar nosso código -->
  <nav>
    <a routerLink="/home">home</a>
    <a routerLink="/interpolation">interpolation</a>
    <a routerLink="/propb">Property Binding</a>
    <a routerLink="/eventb">Event Binding</a>
    <a routerLink="/two-way">Two Way Binding</a>
    <a routerLink="/pai">Decorators Propertys</a>
    <a routerLink="/if">Diretiva *ngIf</a>
    <a routerLink="/for">Diretiva *ngFor</a>
    <a routerLink="/class">Diretiva ngClass</a>
    <a routerLink="/style">Diretiva ngStyle</a>
  </nav>
  <!-- Aqui vamos colocar nosso código -->
  <h2>Este Texto é padrão da página home</h2>
</div>

<router-outlet></router-outlet>
