<!-- vinculando as propertys descritas no ts -->
<div>
  <h1>Interpolation Data Binding</h1>
  <br />
  <span>O nome do segundo cliente selecionado é: {{ clientesSelecionados[1] }} </span>
  <br />
  <br />
  <span>O valor da variável x é: {{ x }} </span>
  <br />
  <br />
  <span>O array de números é composto pelos seguintes valores: {{ umArray }} </span>
  <br />
  <br />
  <span>A data de hoje é: {{ dataHoje }} </span>
  <br />
  <br />
  <span>O status booleano indicado na variável é: {{ statusBool }} </span>
  <br />
  <br />
  <span>O status booleano indicado na variável não é: {{ !statusBool }} </span>
  <br />
  <br />
  <span> {{ statusBool ? "Este é o texto para o status true!" : "Este é o texto para o status false!" }} </span>
<!--if (statusBool === true) {'Este é o texto para o status true'} else {'Este é o texto para o status false'} -->
  <br />
  <br />
  <span> {{ exibirTexto() }} </span>
  <br />
  <br />
</div>
