<div class="content">
  <h2> {{ subtitulo }} </h2>

  <ul style="list-style: none">
    <li *ngFor="let i of filmes">
      <strong style="color: #FF1493">Título:</strong> {{ i.titulo }} - <strong style="color: #FF1493">Direção:</strong> {{ i.direcao }} <br><br>
    </li>
  </ul>
</div>

<table class="bordaTabela">
  <thead>
    <th>Título</th>
    <th>Direção</th>
    <th>Elenco</th>
    <th>Ano de Lançamento</th>
  </thead>
  <tbody>
    <tr *ngFor="let j of filmes">
      <td> {{ j.titulo }} </td>
      <td> {{ j.direcao }} </td>
      <td> {{ j.elenco }} </td>
      <td> {{ j.anoLancamento }} </td>
    </tr>
  </tbody>
</table>
