<!-- <div class="content">
  <form #capturaDados="ngForm" (ngSubmit)="recebedorDados(capturaDados.value)" >
    <input type="email" name="email" placeholder="Informe seu email" ngModel >
    <br><br>
    <input type="password" name="senha" placeholder="Informe seu password" ngModel >
    <br><br>
    <input type="submit" value="Enviar Dados" >
  </form>
</div>
<br><br><br> -->

<div class="content">
  <form [formGroup]="dataForm" (ngSubmit)="exibirDados(dataForm.value)" >
    <input type="email" name="email" placeholder="Informe seu email" formControlName="email">
    <input type="password" name="senha" placeholder="Informe seu senha" formControlName="senha">
    <input type="submit" [disabled]="!dataForm.valid" value="Enviar Dados">
  </form>
  <!-- Aqui será exibido o valor da propriedade e-mail -->
  <p> O email informado é: {{ email }} </p>
</div>
